html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

.background {
    background-image: url("img/bg.png");
    background-color: #2b4675;
}

.wrapper {
    max-width: 1500px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    margin: 0.2em;
    color: #fff;
    text-transform: uppercase;

}

.tools-and-work-field-group {
    margin-top: 100px;
}

.tools {
    float: left;
    margin-top: 48px;
}

.grid {
    background: url("img/greed.png") no-repeat;
    background-position: center;
}

.pencil {
    background: url("img/pencil.png") no-repeat;
    background-position: center;
}

.eraser {
    background: url("img/eraser.png") no-repeat;
    background-position: center;
}

.back {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: solid 3px transparent;
    box-sizing: border-box;
}

.back:last-child {
    margin-bottom: 0;
}

.back:hover {
    cursor: pointer;
    border-color: #f7fa00;
}

.work-field {
    float: right;
    width: calc(100% - 150px);
}

.canvas-heading {
    text-transform: uppercase;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    background-color: #fff;
}

input[type=color] {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    margin: 6px auto;
    background-color: transparent;
}

input[type=color]:hover {
    cursor: pointer;
}

input[type=color]:focus {
    outline: none;
}


/*popup*/
#popupCanvasProp {
    display: none;
    position: fixed;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 600px;
    padding: 30px 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.50);
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    -moz-transform    : translate(-50%, -50%);
    -ms-transform     : translate(-50%, -50%);
    -o-transform      : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
    background-color: #fff;
    z-index: 5;
}


.popupCanvasProp_heaing {
    text-transform: uppercase;
    color: #2b4675;
    margin-bottom: 40px;
}

#sizePicker label {
    color: #2b4675;
}

#sizePicker input {
    margin: 10px 0 25px;
}

#sizePicker input[type="number"] {
    width: 6em;
    border: 1px solid rgba(43, 70, 117, 0.4);
    padding: 0 0 0 8px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 3px;
    font-size: 1rem;
}

#sizePicker input[type="number"]:hover {
    border-color: #2b4675;
    color: #2b4675;
}

#sizePicker input[type="number"]:focus {
    outline-color: #2b4675;
}

#sizePicker input[type="submit"] {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background-color: #2b4675;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.50);
    border-radius: 3px;
}

#closePopup {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

#closePopup:hover::before {
    color: #3e7abd;
}

#closePopup:focus {
    outline-color: rgba(43, 70, 117, 0.08);
}
#closePopup::before {
    content: "+";
    display: block;
    font-size: 4rem;
    color: #2b4675;
    line-height: 0;
    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hint {
    font-size: 0.8rem;
    color: gray;
}

#sizePicker input[type="submit"]:hover {
    background-color: #3e7abd;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    display: none;
}

.selected {
    background-color: aquamarine;
    border-color: #56ab80;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
    margin: auto;
}

.page-footer {
    background-color: #000;
    display: table-row;
    height: 50px;
    font-size: 0.7rem;
    letter-spacing: 0.12rem;
}

.author {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

.author > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.author > li:last-child {
    margin-right: 0;
}

.author > li + li:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    top: 0;
    left: -13px;
    background-color: gray;
}

.author_info {
    color: #f7fa00;
    text-decoration: none;
}

.author_info:hover {
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    .tools {
        float: none;
        font-size: 0;
        margin-bottom: 48px;
    }
    .work-field {
        float: none;
        margin: auto;
        width: 95%;
    }

    .back {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .back:last-child {
        margin-right: 0;

    }
}

@media screen and (max-width: 810px) {
    h1 {
        font-size: 50px;
    }
    .author > li {
        display: block;
        margin: 0 10px 10px;
    }

    .author > li:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 470px) {
    .tools {
        max-width: 210px;
        margin: auto;
    }
    .back {
        display : block;
        float: left;
        margin-bottom: 10px;
    }

    .back:last-child {
        margin-right: 0;
    }

    .back:nth-child(even) {
        margin-right: 0;
    }


}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 40px;
    }

    .tools-and-work-field-group {
        margin: 50px auto 20px;
    }

    .tools {
        margin-bottom: 20px;
    }

    #popupCanvasProp {
        min-height: 400px;
    }
}